{% load static %}
<!-- author: Luka Kaludjerovic 0041-2021 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
          <script src="{% static 'javascript/header.js' %}"></script>
            <script src="{% static 'javascript/dashboard-customer.js' %}"></script>

           <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>Dashboard - 5G Shop</title>
    </head>
    <body>
        <div class="container">
            <!--HEADER-->
            <div id="header" class="row">
                <div id="header-left" class="col-sm-11">
                    <nav class="navbar navbar-expand-sm navbar-light">
                        <a href="home" class="navbar-brand" style="width: 152px; height: 46px;">
                            <img src="static/imgs/logo.png" alt="Logo" style="width: 100%;">
                        </a>
                        <ul id="navbar1" class="navbar-nav">

                        </ul>
                    </nav>
                </div>
                <div id="header-right" class="col-sm-1">
                    <nav class="navbar navbar-expand-sm navbar-light">
                        <ul id="navbar2" class="navbar-nav">

                        </ul>
                    </nav>
                </div>
            </div>
            <hr>
            <!--BODY-->
            <div id="body-dashboard" class="row body">
                <div id="change-password" class="col-sm-6 text-center">
                    <form onsubmit="change_password()">
                        <b><u>Change your password</u></b>
                        <br><br>
                        *Enter old password:
                        <br>
                        <input type="password" name="password" required minlength="8" class="textbox">
                        <br><br>
                        *Enter new password:
                        <br>
                        <input type="password" name="password1" required minlength="8" class="textbox">
                        <br><br>
                        *Repeat password:
                        <br>
                        <input type="password" name="password2" required minlength="8" class="textbox">
                        <br>
                        <p style="font-size: 12px; color: red; font-style: italic;">Fields marked with * are mandatory!</p>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div id="orders" class="col-sm-6 text-center">
                    <b><u>Your orders:</u></b>
                    <br><br>
                    Number of transactions:&emsp;
                    <span id="total-number"></span>
                    <br><br>
                    Total amount spent:&emsp;
                    <span id="total-value"></span>
                    &euro;
                    <br><br>
                    <div id="your-orders">

                    </div>
                </div>


            </div>
            <hr>
            <!--FOOTER-->
            <div id="footer" class="row">
                <div class="col-sm-12 text-center">
                    &#169; 5G Shop 2024
                </div>
            </div>
        </div>
    </body>
</html>