#header {
    font-size: 17px;
}

#footer {
    font-style: italic;
    font-size: 12px;
}

#body-existing-user, #body-new-user {
    font-size: 15px;
    height: 60hv;
    overflow-y: scroll;
}

.textbox {
    border: 1px solid gray;
}

.phonecell {
    width: 15vw;
    height: 35vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid darkgray;
}

#body-home, #body-about, #body-shop, #body-contact {
    font-size: 15px;
}

#body-shop-left {
    font-size: 15px;
    border-right: 3px solid gray;
}

#body-shop-right, #body-cart {
    height: 75vh;
    overflow-y: scroll;
}

#body-cart-right {
    font-size: 15px;
    border-left: 3px solid gray;
}

#body-dashboard {
    font-size: 15px;
    height: 75vh;
}

#body-cart-right {
    font-size: 15px;
    border-left: 3px solid gray;
}

#change-password, #add-product, #your-sales, #ratings {
    font-size: 15px;
    border-right: 3px solid gray;
    height: 75vh;
}

#orders {
    font-size: 15px;
    height: 75vh;
}

#your-orders {
    height: 55vh;
    overflow-y: scroll;
}

#customers, #resellers {
    font-size: 15px;
    border-right: 3px solid gray;
    height: 75vh;
}

#customer, #reseller, #transactions {
    height: 60vh;
    overflow-y: scroll;
}

#order, #checkout, #delivery, #payment {
    font-size: 15px;
}

#product-description {
    font-size: 15px;
    border-right: 3px solid gray;
}

.filters {
    font-size: 15px;
    height: 60vh;
    overflow-y: scroll;
}

.custom-div {
    width: 200px;
}

.active {
    font-weight: bold;
}

.body {
    height: 75vh;
}